@font-face {
  font-family: Orbitron;
  src: url(../font/Orbitron-Bold.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  overflow-x: hidden;
}
html,
body {
  width: 100%;
  height: 100%;
  background-color: #f0f0f2;
}

.entete {
  width: 100%;
  background-color: #143cdb;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

.entete img {
  width: 200px;
}

.entete h1 {
  color: white;
  font-family: Orbitron;
  font-size: 4em;
}

.date {
  width: 100%;
  height: 100%;
  margin-left: 100px;
  float: left;
}

.cercleDate:hover{
  fill: #143cdb;
  cursor: pointer;
}

.AnecdotePoint:hover{
  fill: #143cdb;
  cursor: pointer;
}

.drapeauPays:hover{
  cursor: pointer;
}

.drapeauPaysSVG:hover{
  cursor: pointer;
}